In [2]:
name = "Rishabh"
age = 21
city = "Lucknow"

In [3]:
print(name)
print(age)
print(city)

Rishabh
21
Lucknow

In [6]:
print('My name is',name,',my age is',age,'and I live in',city)

My name is Rishabh ,my age is 21 and I live in Lucknow

In [8]:
per = 10
base = 15
hyp =(per**2+base**2)**0.5
print('Hypotenuse is',round(hyp,2))

Hypotenuse is 18.03

In [9]:
'hello base'

'hello base'

In [14]:
f'hello {base} years old boy'

'hello 15 years old boy'

In [17]:
print(f'Name:{name}, Age:{age}, City:{city}')

Name:Rishabh, Age:21, City:Lucknow

In [22]:
import math
print(math.pi)
r = 20
circumference = 2*math.pi*r
print('circumference is',round(circumference,1))

3.141592653589793
circumference is 125.7

In [23]:
input('What is your name')

'Rishabh'

In [24]:
name = input('What is your name')
print('My name is',name)

My name is rishabh rai

In [28]:
x = int(input('enter a number'))
y = int(input('enter another number'))
print(x+y)

40

In [26]:
int('100')

100

In [27]:
float('100')

100.0